body {
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100%;
    
}

#auth-container{
    top: 1200px;
}

.logo{
    height: 350px;
    width: 300px;
}
.center{
    
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.inferior{
    position:absolute;
    bottom:0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}