{% extends "base.html" %}

{% block head_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
<title>Bienvenido a Movilízate</title>
{% endblock%}


{% block container %}
    <div class="row">
        <div class="col">
            <img src="../../static/img/logo1.png" class= "logo center" alt="">
        </div>
    </div>
    <div class="row inferior">
        
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-lg btn-block btn-success ">dale</button>
            <a href="/ruta">asdsadasdassssssssssss</a>
        </div>
    </div>
{% endblock %}
